.column {
  float: left;
  width: 20%;
  padding: 2px;
}

.dashboard-konten {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.img-artikel {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.font-surat {
  font-size: 38px;
}

@media (max-width: 992px) {
  #besar {
    display: none;
  }

  #kecil {
    display: block !important;
  }

  .img-surat {
    width: 90px !important;
    /*height: 150px !important;*/
    display: block !important;
  }

  .font-surat {
    font-size: 26px;
  }

  .font-surat-footer {
    font-size: 12px;
  }

  #hero .container {
    padding-top: 0px !important;
  }
}

@media (max-width: 768px) {
  .center-img {
    justify-content: center;
  }

  .img-artikel {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .img-surat {
    width: 100px !important;
    height: 100px !important;
    object-fit: contain;
  }

  #hero .container {
    padding-top: 0px !important;
  }
}

.img-surat {
  width: 90px;
  /*height: 90px;*/
  object-fit: contain;
}

.about .content ul li {
  padding-left: 0;
  position: relative;
}

span.label {
  border-radius: 4px;
  font-size: 75%;
  padding: 4px 7px;
  margin-right: 5px;
  font-weight: 400;
  color: #fff !important;
}

.label-danger {
  background-color: #fc6180;
}

.label-success {
  background-color: #93be52;
}

.label-danger {
  background-color: #fc6180;
}

.label-info {
  background-color: #62d1f3;
}

.garis-dua {
  border-top: 3px solid black;
  height: 7px !important;
  border-bottom: 1px solid black;
  opacity: 1;
  margin-left: 50px;
  margin-right: 50px;
}

.speech {
  background-color: #fff;
  border: solid 2px #ffc928;
  border-radius: 30px;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em 1em;
  position: relative;
  background-color: #ffc928;
}

.speech:before {
  border: solid 12px transparent;
  border-left: solid 12px #ffc928;
  border-top: solid 12px #ffc928;
  bottom: -24px;
  content: "";
  height: 0;
  left: 24px;
  position: absolute;
  transform: skew(-15deg);
  width: 0;
}

.speech:after {
  border: solid 10px transparent;
  border-left: solid 10px #ffc928;
  border-top: solid 10px #ffc928;
  bottom: -19px;
  content: "";
  height: 0;
  left: 27px;
  position: absolute;
  transform: skew(-15deg);
  width: 0;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 90px;
  }
}
