/* End Main Button Area css
============================================================================================ */
/* Start Blog Area css
============================================================================================ */
/* line 5, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 10, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_area a {
  color: #666666 !important;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 14, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_area a:hover,
.blog_area a :hover {
  color: #ff663b;
}

/* line 20, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-blog {
  overflow: hidden;
  margin-bottom: 30px;
}

/* line 24, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-blog:hover {
  box-shadow: 0px 10px 20px 0px rgba(42, 34, 123, 0.1);
}

/* line 28, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-blog .thumb {
  overflow: hidden;
  position: relative;
}

/* line 32, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-blog .thumb:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 45, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-blog h4 {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 34px;
  margin-bottom: 25px;
}

/* line 52, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-blog a {
  font-size: 20px;
  font-weight: 600;
}

/* line 62, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-blog .date {
  color: #888;
  text-align: left;
  display: inline-block;
  font-size: 13px;
  font-weight: 300;
}

/* line 70, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-blog .tag {
  text-align: left;
  display: inline-block;
  float: left;
  font-size: 13px;
  font-weight: 300;
  margin-right: 22px;
  position: relative;
}

/* line 80, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-blog .tag:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 10px;
  background: #acacac;
  right: -12px;
  top: 7px;
}

@media (max-width: 1199px) {
  /* line 70, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .single-blog .tag {
    margin-right: 8px;
  }
  /* line 94, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .single-blog .tag:after {
    display: none;
  }
}

/* line 100, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

@media (max-width: 800px) {
  /* line 20, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .single-blog {
    margin-bottom: 30px;
  }
}

/* line 108, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 117, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

@media (max-width: 1199px) {
  /* line 108, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
}

/* line 131, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-blog:hover .thumb:after {
  opacity: 0.7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1199px) {
  /* line 139, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .single-blog h4 {
    transition: all 300ms linear 0s;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 14px;
    margin-bottom: 12px;
  }
  /* line 145, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .single-blog h4 a {
    font-size: 18px;
  }
}

/* line 153, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 156, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

@media (min-width: 992px) {
  /* line 156, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
}

/* line 175, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 181, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 191, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 196, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* End Blog Area css
============================================================================================ */
/* Latest Blog Area css
============================================================================================ */
/* line 220, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 224, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 230, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 243, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* End Latest Blog Area css
============================================================================================ */
/* Causes Area css
============================================================================================ */
/* line 259, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 263, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 270, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 281, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 284, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 287, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 295, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 303, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 316, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 319, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 332, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 342, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 354, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* End Causes Area css
============================================================================================ */
/*================= latest_blog_area css =============*/
/* line 370, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 374, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 377, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 380, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 385, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 388, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 399, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 406, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 413, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 427, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/*========= blog_categorie_area css ===========*/
/* line 434, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

@media (min-width: 900px) {
  /* line 434, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
}

@media (min-width: 1100px) {
  /* line 434, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
}

/* line 450, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 455, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 459, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 472, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 490, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 497, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 506, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/*============ blog_left_sidebar css ==============*/
/* line 521, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_item {
  margin-bottom: 50px;
}

/* line 525, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_details {
  padding: 30px 0 20px 10px;
  box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
}

@media (min-width: 768px) {
  /* line 525, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .blog_details {
    padding: 35px 30px 35px 35px;
  }
}

/* line 533, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_details p {
  margin-bottom: 30px;
}

/* line 537, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_details a {
  color: #ff8b23;
}

/* line 540, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_details a:hover {
  color: #ff663b !important;
}

/* line 545, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_details h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  /* line 545, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .blog_details h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

/* line 559, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog-info-link li {
  float: left;
  font-size: 14px;
}

/* line 563, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog-info-link li a {
  color: #999999;
}

/* line 567, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog-info-link li i,
.blog-info-link li span {
  font-size: 13px;
  margin-right: 5px;
}

/* line 573, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog-info-link li::after {
  content: "|";
  padding-left: 10px;
  padding-right: 10px;
}

/* line 579, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog-info-link li:last-child::after {
  display: none;
}

/* line 584, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog-info-link::after {
  content: "";
  display: block;
  clear: both;
  display: table;
}

/* line 592, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_item_img {
  position: relative;
}

/* line 595, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_item_img .blog_item_date {
  position: absolute;
  bottom: -10px;
  left: 10px;
  display: block;
  color: #000;
  background-color: #ffc928;
  padding: 8px 15px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  /* line 595, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .blog_item_img .blog_item_date {
    bottom: -20px;
    left: 40px;
    padding: 4px 18px;
  }
}

/* line 611, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_item_img .blog_item_date h3 {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
  line-height: 1.2;
}

@media (min-width: 768px) {
  /* line 611, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .blog_item_img .blog_item_date h3 {
    font-size: 30px;
  }
}

/* line 623, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_item_img .blog_item_date p {
  font-size: 18px;
  margin-bottom: 0;
  color: #fff;
}

@media (min-width: 768px) {
  /* line 623, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .blog_item_img .blog_item_date p {
    font-size: 18px;
  }
}

/* line 643, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .widget_title {
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
}

/* line 648, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .widget_title::after {
  content: "";
  display: block;
  padding-top: 15px;
  border-bottom: 1px solid #f0e9ff;
}

/* line 656, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .single_sidebar_widget {
  background: #fbf9ff;
  padding: 30px;
  margin-bottom: 30px;
}

/* line 665, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .search_widget .form-control {
  height: 50px;
  border-color: #f0e9ff;
  font-size: 13px;
  color: #999999;
  padding-left: 20px;
  border-radius: 0;
  border-right: 0;
}

/* line 674, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .search_widget .form-control::placeholder {
  color: #999999;
}

/* line 678, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .search_widget .form-control:focus {
  border-color: #f0e9ff;
  outline: 0;
  box-shadow: none;
}

/* line 687, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .search_widget .input-group button {
  background: #fff;
  border-left: 0;
  border: 1px solid #f0e9ff;
  padding: 4px 15px;
  border-left: 0;
}

/* line 694, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .search_widget .input-group button i,
.blog_right_sidebar .search_widget .input-group button span {
  font-size: 14px;
  color: #999999;
}

/* line 706, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .newsletter_widget .form-control {
  height: 50px;
  border-color: #f0e9ff;
  font-size: 13px;
  color: #999999;
  padding-left: 20px;
  border-radius: 0;
}

/* line 715, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .newsletter_widget .form-control::placeholder {
  color: #999999;
}

/* line 719, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .newsletter_widget .form-control:focus {
  border-color: #f0e9ff;
  outline: 0;
  box-shadow: none;
}

/* line 728, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .newsletter_widget .input-group button {
  background: #fff;
  border-left: 0;
  border: 1px solid #f0e9ff;
  padding: 4px 15px;
  border-left: 0;
}

/* line 735, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .newsletter_widget .input-group button i,
.blog_right_sidebar .newsletter_widget .input-group button span {
  font-size: 14px;
  color: #999999;
}

/* line 748, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .post_category_widget .cat-list li {
  border-bottom: 1px solid #f0e9ff;
  transition: all 0.3s ease 0s;
  padding-bottom: 12px;
}

/* line 753, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .post_category_widget .cat-list li:last-child {
  border-bottom: 0;
}

/* line 757, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .post_category_widget .cat-list li a {
  font-size: 14px;
  line-height: 20px;
  color: #888888;
}

/* line 762, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .post_category_widget .cat-list li a p {
  margin-bottom: 0px;
}

/* line 767, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .post_category_widget .cat-list li + li {
  padding-top: 15px;
}

/* line 784, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .popular_post_widget .post_item .media-body {
  justify-content: center;
  align-self: center;
  padding-left: 20px;
}

/* line 789, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 6px;
  transition: all 0.3s linear;
}

/* line 800, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .popular_post_widget .post_item .media-body a:hover {
  color: #fff;
}

/* line 806, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .popular_post_widget .post_item .media-body p {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0px;
}

/* line 813, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .popular_post_widget .post_item + .post_item {
  margin-top: 20px;
}

/* line 821, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .tag_cloud_widget ul li {
  display: inline-block;
}

/* line 824, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .tag_cloud_widget ul li a {
  display: inline-block;
  border: 1px solid #eeeeee;
  background: #fff;
  padding: 4px 20px;
  margin-bottom: 8px;
  margin-right: 3px;
  transition: all 0.3s ease 0s;
  color: #888888;
  font-size: 13px;
}

/* line 835, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .tag_cloud_widget ul li a:hover {
  background: #ff663b;
  color: #fff !important;
  -webkit-text-fill-color: #fff;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 850, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .instagram_feeds .instagram_row {
  display: flex;
  margin-right: -6px;
  margin-left: -6px;
}

/* line 856, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .instagram_feeds .instagram_row li {
  width: 33.33%;
  float: left;
  padding-right: 6px;
  padding-left: 6px;
  margin-bottom: 15px;
}

/* line 956, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog_right_sidebar .br {
  width: 100%;
  height: 1px;
  background: #eeeeee;
  margin: 30px 0px;
}

/* line 977, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog-pagination {
  margin-top: 80px;
}

/* line 981, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog-pagination .page-link {
  font-size: 14px;
  position: relative;
  display: block;
  padding: 0;
  text-align: center;
  margin-left: -1px;
  line-height: 45px;
  width: 45px;
  height: 45px;
  border-radius: 0 !important;
  color: #8a8a8a;
  border: 1px solid #f0e9ff;
  margin-right: 10px;
}

/* line 998, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog-pagination .page-link i,
.blog-pagination .page-link span {
  font-size: 13px;
}

/* line 1010, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog-pagination .page-item.active .page-link {
  background-color: #3d4d6a;
  border-color: #ffffff;
  color: #ffffff;
}

/* line 1017, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.blog-pagination .page-item:last-child .page-link {
  margin-right: 0;
}

/*============ Start Blog Single Styles  =============*/
/* line 1042, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .blog_details {
  box-shadow: none;
  padding: 0;
}

/* line 1047, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 1050, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 1054, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 1067, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .blog_details {
  padding-top: 26px;
}

/* line 1070, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .blog_details p {
  margin-bottom: 20px;
  font-size: 15px;
}

/* line 1080, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .quote-wrapper {
  background: rgba(130, 139, 178, 0.1);
  padding: 15px;
  line-height: 1.733;
  color: #888888;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  /* line 1080, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .single-post-area .quote-wrapper {
    padding: 30px;
  }
}

/* line 1094, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .quotes {
  background: #fff;
  padding: 15px 15px 15px 20px;
  border-left: 2px solid;
}

@media (min-width: 768px) {
  /* line 1094, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .single-post-area .quotes {
    padding: 25px 25px 25px 30px;
  }
}

/* line 1104, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .arrow {
  position: absolute;
}

/* line 1107, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .arrow .lnr {
  font-size: 20px;
  font-weight: 600;
}

/* line 1114, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

/* line 1119, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-top {
  padding-top: 15px;
  border-top: 1px solid #f0e9ff;
}

/* line 1123, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-top p {
  margin-bottom: 0;
}

/* line 1127, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-top .like-info {
  font-size: 14px;
}

/* line 1130, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-top .like-info i,
.single-post-area .navigation-top .like-info span {
  font-size: 16px;
  margin-right: 5px;
}

/* line 1137, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-top .comment-count {
  font-size: 14px;
}

/* line 1140, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-top .comment-count i,
.single-post-area .navigation-top .comment-count span {
  font-size: 16px;
  margin-right: 5px;
}

/* line 1149, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-top .social-icons li {
  display: inline-block;
  margin-right: 15px;
}

/* line 1153, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-top .social-icons li:last-child {
  margin: 0;
}

/* line 1157, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-top .social-icons li i,
.single-post-area .navigation-top .social-icons li span {
  font-size: 14px;
  color: #999999;
}

/* line 1175, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .blog-author {
  padding: 40px 30px;
  background: #fbf9ff;
  margin-top: 50px;
}

@media (max-width: 600px) {
  /* line 1175, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .single-post-area .blog-author {
    padding: 20px 8px;
  }
}

/* line 1184, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .blog-author img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 30px;
}

@media (max-width: 600px) {
  /* line 1184, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .single-post-area .blog-author img {
    margin-right: 15px;
    width: 45px;
    height: 45px;
  }
}

/* line 1197, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .blog-author a {
  display: inline-block;
}

/* line 1201, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .blog-author a:hover {
  color: #ff663b;
}

/* line 1206, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .blog-author p {
  margin-bottom: 0;
  font-size: 15px;
}

/* line 1211, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .blog-author h4 {
  font-size: 16px;
}

/* line 1218, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-area {
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
  margin-top: 55px;
}

/* line 1223, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-area p {
  margin-bottom: 0px;
}

/* line 1227, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-area h4 {
  font-size: 18px;
  line-height: 25px;
}

/* line 1233, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-left {
  text-align: left;
}

/* line 1236, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-left .thumb {
  margin-right: 20px;
  background: #000;
}

/* line 1240, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-left .thumb img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 1245, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-left .lnr {
  margin-left: 20px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 1252, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-left:hover .lnr {
  opacity: 1;
}

/* line 1257, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-left:hover .thumb img {
  opacity: 0.5;
}

@media (max-width: 767px) {
  /* line 1233, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .single-post-area .navigation-area .nav-left {
    margin-bottom: 30px;
  }
}

/* line 1268, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-right {
  text-align: right;
}

/* line 1271, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-right .thumb {
  margin-left: 20px;
  background: #000;
}

/* line 1275, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-right .thumb img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 1280, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-right .lnr {
  margin-right: 20px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 1287, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-right:hover .lnr {
  opacity: 1;
}

/* line 1292, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.single-post-area .navigation-area .nav-right:hover .thumb img {
  opacity: 0.5;
}

@media (max-width: 991px) {
  /* line 1300, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
}

/* line 1307, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comments-area {
  background: transparent;
  border-top: 1px solid #eee;
  padding: 45px 0;
  margin-top: 50px;
}

@media (max-width: 414px) {
  /* line 1307, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .comments-area {
    padding: 50px 8px;
  }
}

/* line 1318, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comments-area h4 {
  margin-bottom: 35px;
  font-size: 18px;
}

/* line 1325, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comments-area h5 {
  font-size: 16px;
  margin-bottom: 0px;
}

/* line 1334, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comments-area .comment-list {
  padding-bottom: 48px;
}

/* line 1337, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comments-area .comment-list:last-child {
  padding-bottom: 0px;
}

/* line 1341, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */

@media (max-width: 413px) {
  /* line 1347, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .comments-area .comment-list .single-comment h5 {
    font-size: 12px;
  }
  /* line 1351, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .comments-area .comment-list .single-comment .date {
    font-size: 11px;
  }
  /* line 1355, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .comments-area .comment-list .single-comment .comment {
    font-size: 10px;
  }
}

/* line 1362, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comments-area .thumb {
  margin-right: 20px;
}

/* line 1365, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comments-area .thumb img {
  width: 70px;
  border-radius: 50%;
}

/* line 1371, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comments-area .date {
  font-size: 14px;
  color: #999999;
  margin-bottom: 0;
  margin-left: 20px;
}

/* line 1378, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comments-area .comment {
  margin-bottom: 10px;
  color: #777777;
  font-size: 15px;
}

/* line 1384, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comments-area .btn-reply {
  background-color: transparent;
  color: #888888;
  padding: 5px 18px;
  font-size: 14px;
  display: block;
  font-weight: 400;
}

/* line 1401, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comment-form {
  border-top: 1px solid #eee;
  padding-top: 45px;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* line 1409, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comment-form .form-group {
  margin-bottom: 30px;
}

/* line 1413, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comment-form h4 {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 22px;
}

/* line 1421, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comment-form .name {
  padding-left: 0px;
}

@media (max-width: 767px) {
  /* line 1421, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .comment-form .name {
    padding-right: 0px;
    margin-bottom: 1rem;
  }
}

/* line 1430, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comment-form .email {
  padding-right: 0px;
}

@media (max-width: 991px) {
  /* line 1430, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
  .comment-form .email {
    padding-left: 0px;
  }
}

/* line 1438, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comment-form .form-control {
  border: 1px solid #f0e9ff;
  border-radius: 5px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
}

/* line 1446, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comment-form .form-control:focus {
  outline: 0;
  box-shadow: none;
}

/* line 1451, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comment-form .form-control::placeholder {
  font-weight: 300;
  color: #999999;
}

/* line 1456, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comment-form .form-control::placeholder {
  color: #777777;
}

/* line 1461, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comment-form textarea {
  padding-top: 18px;
  border-radius: 12px;
  height: 100% !important;
}

/* line 1467, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comment-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 13px;
  color: #777;
}

/* line 1473, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comment-form ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 13px;
  color: #777;
}

/* line 1479, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comment-form :-ms-input-placeholder {
  /* IE 10+ */
  font-size: 13px;
  color: #777;
}

/* line 1485, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog.scss */
.comment-form :-moz-placeholder {
  /* Firefox 18- */
  font-size: 13px;
  color: #777;
}

/*============ End Blog Single Styles  =============*/

/**************** blog part css start ****************/
@media (max-width: 576px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part {
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part {
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part {
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part {
    padding-bottom: 50px;
  }
}

/* line 15, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
.blog_part .card {
  border: 0px solid transparent;
}

/* line 18, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
.blog_part .blog_right_sidebar .widget_title {
  font-size: 20px;
  margin-bottom: 40px;
  font-style: inherit !important;
}

@media (max-width: 576px) {
  /* line 23, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part .single-home-blog {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 23, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part .single-home-blog {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 23, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part .single-home-blog {
    margin-bottom: 20px;
  }
}

/* line 36, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card-img-top {
  border-radius: 0px;
}

/* line 39, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card {
  border-radius: 0px;
  background-color: transparent;
  position: relative;
}

/* line 44, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card .card-body {
  padding: 35px 30px 23px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #edeff2;
}

/* line 49, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card .card-body:hover {
  box-shadow: 0px 10px 30px 0px rgba(12, 46, 96, 0.1);
  border: 1px solid transparent;
}

@media (max-width: 576px) {
  /* line 44, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card .card-body {
    padding: 15px 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 44, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card .card-body {
    padding: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 44, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card .card-body {
    padding: 20px;
  }
}

/* line 66, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card .card-body .btn_4 {
  margin-bottom: 20px;
}

/* line 70, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card .card-body a {
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

/* line 76, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */

/* line 79, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */

/* line 90, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card span {
  color: #8a8a8a;
  margin-bottom: 10px;
  display: inline-block;
  margin-top: 10px;
}

@media (max-width: 576px) {
  /* line 90, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card span {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 90, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card span {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 90, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card span {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 90, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card span {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

/* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card h5 {
  font-weight: 600;
  line-height: 1.5;
  font-size: 19px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  text-transform: capitalize;
}

@media (max-width: 576px) {
  /* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card h5 {
    margin-bottom: 5px;
    font-size: 17px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card h5 {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card h5 {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card h5 {
    margin-bottom: 10px;
    font-size: 18px;
  }
}

/* line 133, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card h5:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  color: #ff663b;
}

/* line 139, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card ul {
  border-top: 1px solid #edeff2;
  padding-top: 20px;
  margin-top: 24px;
}

/* line 143, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card ul li {
  display: inline-block;
  color: #8a8a8a;
  margin-right: 39px;
}

@media (max-width: 576px) {
  /* line 143, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card ul li {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 143, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card ul li {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 143, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card ul li {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 143, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
  .blog_part .single-home-blog .card ul li {
    margin-right: 10px;
  }
}

/* line 159, E:/172 Etrain Education/172_Etrain_Education_html/sass/_blog_part.scss */
.blog_part .single-home-blog .card ul li span {
  margin-right: 10px;
}

img.blog-img {
  height: 200px;
  object-fit: cover;
  width: 100%;
  object-position: center;
}

ul.blog-info-link {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: white;
}

.text-konten {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.judul-konten {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: black;
  font-weight: bold;
}

h3.text-link {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: black;
}

.text-link:hover {
  color: red;
}

/* h2 {
      margin: 0;
      color: #666;
      padding-top: 90px;
      font-size: 52px;
      font-family: "trebuchet ms", sans-serif;
  } */

.item {
  background: white;
  /* text-align: center; */
  height: 400px !important;
}

.main-content {
  position: relative;
}

.main-content .owl-theme .custom-nav {
  position: absolute;
  top: 28%;
  left: 0;
  right: 0;
}

.main-content .owl-theme .custom-nav .owl-prev,
.main-content .owl-theme .custom-nav .owl-next {
  position: absolute;
  height: 100px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
}

.main-content .owl-theme .custom-nav .owl-prev i,
.main-content .owl-theme .custom-nav .owl-next i {
  font-size: 2.5rem;
  color: #cecece;
}

.main-content .owl-theme .custom-nav .owl-prev {
  left: -12px;
  margin: 20px;
  padding: 0;
  border: 1px solid #dee2e6;
}

.main-content .owl-theme .custom-nav .owl-next {
  right: -12px;
  margin: 20px;
  padding: 0;
  border: 1px solid #dee2e6;
}

.main-content .owl-theme .custom-nav .owl-next:hover {
  right: -12px;
  margin: 20px;
  padding: 0;
  border: 1px solid #dee2e6;
  background-color: #ffc928;
}

.main-content .owl-theme .custom-nav .owl-prev:hover {
  left: -12px;
  margin: 20px;
  padding: 0;
  border: 1px solid #dee2e6;
  background-color: #ffc928;
}

.gallery-item {
  position: relative;
}

.gallery-item .item-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 
  .custom-nav {
      display: none;
  } */

.main-content .owl-carousel:hover + .custom-nav {
  display: block;
}

.carousel-item {
  height: 400px;
  background-size: cover;
  background-position: center;
}

.btn-berita {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 60px;
  }
}
